- var title = '| ' + room.displayName + ' | Moderate'
- var description = 'Drawingwith.us is a collaborative drawing board that is taking a twist on social media by adding an artistic ingredient into the mix | drawingwithus'
- var keywords = 'drawingwith.us, drawingwithus, collaborative drawing, board, rooms, online group drawing, draw with friends, artisic drawing board'
- var author = 'David Baer, Zach Standridge'

include inc/header.pug
div.container
	div.row
		div.col-md-3
			div.row
				h1#roomName= room.displayName
					a.pull-right(href='/r/'+room.id)
						i.fa.fa-external-link
				div#roomDesc: p= room.desc
				hr
			form#settings.row.text-left 
				div.form-group
					label(for="accessLevel") Access Level
					select#accessLevel.form-control
						each option in accessLevel
							//- var select=null; if (room.accessLevel == option.val) select='selected';
							option(value=option.val, selected=room.accessLevel == option.val)= option.name
				div.form-group
					label(for="bgColor") Background Color
					input#bgColor.form-control(type="text", value=room.bgColor)
				div.form-group
					label(for="fadeTime") Fade Time
					input#fadeTime.form-control(type="number", value=room.fadeTime)
				div.row
					div.col-md-2
						label(for="width") Width
					div.col-md-4
						input#width.form-control(type="number", value=room.size.width)
					div.col-md-2
						label(for="height") Height
					div.col-md-4
						input#height.form-control(type="number", value=room.size.height)
				hr
			div#chat.row
				label Chat:
				div.col-md-12.well(style={color:'#fff'})
					each msg in room.chat
						div.row.message
							div.col-md-2= msg.name + ':' 
							div.col-md-10=  msg.content
		div.col-md-9
			canvas#canvas.img-responsive(width=room.size.width, height=room.size.height, style={'max-width': '100%'})

script.
	roomConfig = {
		bgColor: "#{room.bgColor}",
		fadeTime: "#{room.fadeTime}",
		color: "#{defaults.color}"
	};

script(src="/socket.io/socket.io.js")
script(src="http://code.jquery.com/jquery-1.11.1.js")
script(src="//code.jquery.com/ui/1.11.1/jquery-ui.js")

script(type="text/javascript", src="/js/colorpicker.js")
script(src="/js/script.js")
	//leave tabbed over
	include inc/footer.pug 