extends layouts/app

block metadefs
	- var title = '| ' + room.displayName
	- var description = 'Drawingwith.us is a collaborative drawing board that is taking a twist on social media by adding an artistic ingredient into the mix | drawingwithus'
	- var keywords = 'drawingwith.us, drawingwithus, collaborative drawing, board, rooms, online group drawing, draw with friends, artisic drawing board'

block content
	h1.container= room.displayName
	.text-center
		.pencils(style="position: relative; display: inline-block;")
			canvas#canvas(width=room.size.width, height=room.size.height)
	.container
		p= room.desc

	.open-draw-ui &raquo;
	.draw-ui
		.close-draw-ui &laquo;
		ul.userList.list-group(style="padding-top: 2em;")
		hr
		.row
			.col-md-6.text-center
				#colorSelector: div(style="background-size: 100%;")
			.col-md-6.text-center
				button#voteToClear.btn.btn-sm.btn-danger Vote To Clear&nbsp;
		if owner
			hr
			form#settings 
				.form-group
					label(for="accessLevel") Access Level
					select#accessLevel.form-control(style="color: #444;")
						each option in accessLevel
							//- var select=null; if (room.accessLevel == option.val) select='selected';
							option(value=option.val, selected=room.accessLevel == option.val)= option.name
				.form-group
					label(for="bgColor") Background Color
					input#bgColor.form-control(type="text", value=room.bgColor)
				.form-group
					label(for="fadeTime") Fade Time
					input#fadeTime.form-control(type="number", value=room.fadeTime)
				.flex(style="align-items:center;")
					div(style="padding-right:1em;")
						label(for="width") Width
					div(style="padding-right:1em;")
						input#width.form-control(type="number", value=room.size.width)
					div(style="padding-right:1em;")
						label(for="height") Height
					
						input#height.form-control(type="number", value=room.size.height)
	//-
		hr	
		.controls
			select#brush.control
				each brush in brushes
				option(value=brush.val)= brush.name
			form#chat.form
				.input-group
					input#msg.form-control(type="text", placeholder="message") 
					span.input-group-btn
						button.btn.btn-default(type="submit") Send
			#msgBox

	.open-chat-ui: span.fa.fa-comments
	.chat-ui
		.close-chat-ui: span.fa.fa-comments
		br
		br
		.row
			.col-md-12
				ul.list-group
			.col-md-12
				form#chat.form
					.input-group
						input#msg.form-control(type="text", placeholder="message")
						span.input-group-btn
							button.btn.btn-default(type="submit") Send
				#msgBox

block scripts
	script(src="http://code.jquery.com/jquery-1.11.1.js")
	script(src="//code.jquery.com/ui/1.11.1/jquery-ui.js")
	script(type="text/javascript", src="/js/colorpicker.js")
	include inc/script